:root {
    --primary: #D3AE87;
    --secundary: black;
}

.containerPhoneScreen {
    display: none;
}
.containerContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.contentItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    /* position: relative; */
    width: 200px;
    height: 100%;
    background-color: var(--primary);
    border-radius: 25%;
    background-color: #D3AE87;
}
.contentItem:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.contentItem img {
    width: 100%;
    height: 200px;
    border-radius: 25%;
}
.contentItem p {
    /* position: absolute; */
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secundary);
    margin-top: -60px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .containerWindow {
        display: block;
    }
  }
  @media screen and (max-width: 480px) {
    .containerWindow {
        display: none;
    }
    .containerPhoneScreen {
        display: block;
    }
  }
