:root {
    --primary: #D3AE87;
    --color: white;
}

.ContainerAlleLeeruitkomsten {
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

.dotLine {
    border: dashed 10px var(--primary);
    width: 150px;
    height: 0px;
}

/* Leeruitkomsten  */
.containerLeeruitkomst1 {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    min-height: 250px;
}

.containerLeeruitkomst2 {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    min-height: 250px;
}

.containerLeeruitkomst3 {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    min-height: 250px;
}

.containerLeeruitkomst4 {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    min-height: 250px;
}

/* Bewijslasten */
.bewijsLasten {
    width: 50%;
    height: 100%;
    border-radius: 30px;
    padding: 30px;
    margin: auto;
    background-color: var(--primary);
    color: var(--color);
}

.leeruitkomst {
    border-radius: 30px;
    padding: 40px;
    margin: auto;
    max-height: 300px;
    height: 100%;
    width: 404px;
    text-align: center;
    background-color: var(--primary);
    color: var(--color);
}

.dotLine {
    border: dashed 10px white;
    width: 150px;
    height: 0px;
}

.border2 {
    border: dashed 10px #D3AE87;
    width: 150px;
    height: 0px;
}

.dotLine,
.border2 {
    margin-top: 120px;
}

.ContainerAlleLeeruitkomstenPhone {
    display: none;
}

.leeruitkomstPhone {
    background-color: var(--primary);
}

.leeruitkomstPhone h1 {
    text-align: center;
}

.content_container_margin a {
    color: blue !important;
}

/* Media Queries */
@media screen and (max-width: 930px) {
    .ContainerAlleLeeruitkomsten {
        display: none;
    }

    .ContainerAlleLeeruitkomstenPhone {
        display: block;
    }
}